<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="myCon" connectionString="data source=CSMBHUD245\SQL2012;initial catalog=mypro;user id=sa;password=csmpl@123"
      providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>
